@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Inconsolata', monospace;
}
body {
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}

:root {
    --lightest: #f0f5fd;
    --lighter: #e3eefc;
    --muted: #ccddf9;
    --accent: #adc6f4;
    --primary: #8ca7ed;
    --secondary: #7a90e6;
    --btn-hover: #5464d7;
    --btn-primary: #4552bd;
    -txt-accent: #3a4599;
    --txt-muted: #364079;
    --txt-dark: #1f2347;
}
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--accent);
    width: 100%;
    height: 30px;
    font-size: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    font-size: 1.2rem;
}
.contacts {
    display: flex;
    margin-left: 78px;
    gap: 170px;
}
.social {
    display: flex;
    margin-right: 83px;
    gap: 63px;
}
.header {
    display: flex;
    background-color: var(--primary);
    width: 100%;
    height: 216.12px;
    align-items: center;
}

.header img {
    margin-right: 49px;
}

.header h1 {
    font-size: 90px;
    font-weight: normal;
    text-align: center;
}
.nav-bar {
    background-color: var(--muted);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-bar ul {
    display: flex;
    gap: 55px;
    justify-content: center;
}

.nav-bar li {
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    padding: 8px;
    transition: 0.3s ease;
}

.nav-bar a:hover {
    background-color: var(--lighter);
    border-radius: 8px;
}

.nav-bar a.active {
    background-color: var(--lightest);
    border-radius: 8px;
}

/* Banner */

.banner{
    background-image: url(../imgs/cont-banner.png);
    background-size: cover;
    height: 574.28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2{
    font-size: 90px;
    color: #ffffff;
    font-weight: normal;
}

/* Form */

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.form p{
    font-size: 1.3rem;
    width: 70%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

form{
    background-color: var(--primary);
    width: 100%;
    height: 20rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

form p{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label{
    text-align: left;
    font-size: 1rem;
    font-weight: normal;
}

form label::after{
    content: "*";
    color: white;
    margin-left: .5rem;
}

form input, form textarea{
    height: 2.5rem;
    outline: none;
    border: none;
    border-radius: 8px;
    text-indent: 10px;
}

form textarea{
    resize: none;
    padding-top: 1rem;
    text-indent: 10px;
}

form button{
    width: 10rem;
    height: 2.5rem;
    transform: translateX(32rem);
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: var(--btn-primary);
    font-size: 1.2rem;
    color: var(--lightest);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: .3s ease-in-out;
}

form button:hover{
    background-color: var(--btn-hover);
}

/* Footer */

footer{
    height: 300px;
    background-color: var(--btn-hover);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-txt{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 111px;
    margin-top: 5rem;
}

.faq, .links, .contact-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    color: var(--lightest);
}

.faq a, .links a, .contact-info a{
    text-decoration: none;
    color: var(--lightest);
}

.faq ul, .links ul, .contact-info ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-txt li{
    list-style: none;
}


.redes{
    display: flex;
    justify-content: center;
    gap: 106px;
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/* Ajustes responsive para tablet y móvil */
@media screen and (max-width: 1024px) {
    .top-bar .contacts {
        display: flex;
        justify-content: start;
        gap: 20px;
        margin-left: 1rem;
        font-size: 50%;
        margin-right: 4rem;
    }

    .contacts span {
        display: flex;
    }

    .top-bar .social {
        gap: 10px;
    }

    .header {
        height: auto;
        text-align: center; 
        padding: 1rem;
    }

    .header h1 {
        font-size: 25px;
    }

    .header img {
        height: 55px;
        width: 55px;
    }

    .nav-bar ul {
        flex-direction: row;
        gap: 10px;
        font-size: 10px;
        justify-content: center; 
    }

    .nav-bar li a {
        font-size: 150%;
    }

    .banner {
        display: flex;
        justify-content: center; 
        align-items: center;
        background-position: center;
        height: auto; /* Ajustar altura */
    }

    .banner h2 {
        font-size: 40px;
        text-align: center; 
        color: #ffffff;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .form p {
        font-size: 1rem; /* Ajustar tamaño de fuente */
        width: 90%; /* Ampliar el ancho */
        text-align: center;
        font-weight: bold;
        margin-bottom: 1rem; /* Reducir margen */
    }

    form {
        background-color: var(--primary);
        width: 100%;
        height: auto; /* Ajustar altura */
        display: flex;
        flex-direction: column; /* Cambiar a columna */
        padding: 2rem;
        align-items: center; /* Centrar contenido */
    }

    form p {
        display: flex;
        flex-direction: column;
        gap: 5px; /* Reducir el espacio entre elementos */
        width: 100%; /* Ampliar el ancho */
    }

    form label {
        text-align: left;
        font-size: 0.9rem; /* Ajustar tamaño */
    }

    form input, form textarea {
        height: 2.5rem;
        outline: none;
        border: none;
        border-radius: 8px;
        text-indent: 10px;
        width: 100%; /* Ampliar el ancho */
    }

    form textarea {
        resize: none;
        padding-top: 1rem;
    }

    form button {
        width: 80%; /* Ampliar el ancho */
        height: 2.5rem;
        border-radius: 8px;
        outline: none;
        border: none;
        background-color: var(--btn-primary);
        font-size: 1rem; /* Ajustar tamaño */
        color: var(--lightest);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px; /* Reducir espacio */
        transition: .3s ease-in-out;
        margin-top: 1rem; /* Añadir margen superior */
    }

    form button:hover {
        background-color: var(--btn-hover);
    }
    footer {
        height: auto;
        padding: 20px;
    }

    .footer-txt {
        flex-direction: row;
        gap: 20px;
    }


    .faq, .links, .contact-info {
        gap: 10px;
        text-align: center; /* Centrar texto */
    }

    .redes {
        display: flex;
        justify-content: center;
        gap: 30px; /* Ajustar espacio entre íconos */
        font-size: 1.5rem; /* Reducir tamaño de fuente */
        padding: 1rem 0;
    }
}
