@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Inconsolata', monospace;
}
body {
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}

:root {
    --lightest: #f0f5fd;
    --lighter: #e3eefc;
    --muted: #ccddf9;
    --accent: #adc6f4;
    --primary: #8ca7ed;
    --secondary: #7a90e6;
    --btn-hover: #5464d7;
    --btn-primary: #4552bd;
    -txt-accent: #3a4599;
    --txt-muted: #364079;
    --txt-dark: #1f2347;
}
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--accent);
    width: 100%;
    height: 30px;
    font-size: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    font-size: 1.2rem;
}
.contacts {
    display: flex;
    margin-left: 78px;
    gap: 170px;
}
.social {
    display: flex;
    margin-right: 83px;
    gap: 63px;
}
.header {
    display: flex;
    background-color: var(--primary);
    width: 100%;
    height: 216.12px;
    align-items: center;
}

.header img {
    margin-right: 49px;
}

.header h1 {
    font-size: 90px;
    font-weight: normal;
    text-align: center;
}
.nav-bar {
    background-color: var(--muted);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-bar ul {
    display: flex;
    gap: 55px;
    justify-content: center;
}

.nav-bar li {
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    padding: 8px;
    transition: 0.3s ease;
}

.nav-bar a:hover {
    background-color: var(--lighter);
    border-radius: 8px;
}

.nav-bar a.active {
    background-color: var(--lightest);
    border-radius: 8px;
}

.banner {
    height: 600px;
    background-image: url(../imgs/index-banner.png);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2 {
    font-size: 96px;
    text-align: center;
    color: #ffffff;
}

.cards {
    display: flex;
    justify-content: center;
    position: relative;
    top: -100px;
    gap: 98px;
}

.card p {
    transition: 0.3s ease-in-out;
    padding: 10px;
}

.card {
    width: 240px;
    height: 223px;
    text-align: center;
    background-color: var(--secondary);
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s ease;
    text-decoration: none;
    color: #000000;
}
.card:nth-child(1):hover {
    background-image: url(../imgs/servicios.jpg);
    background-size: cover;
    color: var(--lightest);
}
.card:nth-child(2):hover {
    background-image: url(../imgs/socios.jpg);
    background-size: cover;
    color: var(--lightest);
}

.card:nth-child(1):hover p,
.card:nth-child(2):hover p {
    transform: translateY(90px);
    background-color: rgba(122, 144, 230, 0.698);
    padding: 10px;
}
.card:nth-child(1):hover i,
.card:nth-child(2):hover i {
    transform: translateY(-75px);
}

.card i {
    position: relative;
    bottom: 17px;
    right: -84px;
    cursor: pointer;
    font-size: 2rem;
    transition: 0.3s ease-in-out;
}
.short-info {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.short-info h3 {
    font-size: 73px;
    text-align: center;
    font-weight: normal;
    width: 1363px;
}

.short-info img {
    border-radius: 5px;
    border: 1px solid black;
    padding: 34px;
    margin-top: 54px;
    margin-bottom: 26px;
}

.short-info-2 {
    display: flex;
    justify-content: center;
    background-color: var(--txt-muted);
    width: 90%;
    margin-inline: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.short-info-2 img {
    width: 500px;
    height: 400px;
    border-radius: 0 8px 8px 0;
}

.info2-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.info2-text .content {
    border: 1px solid var(--lighter);
    margin-inline: 40px;
    padding: 60px 0 60px 0;
}

.info2-text h3 {
    font-size: 50px;
    text-align: justify;
    color: var(--lightest);
    font-weight: lighter;
    padding-inline: 50px;
    margin-bottom: 1rem;
}

.info2-text p {
    font-size: 1.1rem;
    width: 60%;
    text-align: justify;
    margin-left: 6rem;
    color: var(--lightest);
    font-weight: lighter;
}

.contact-banner {
    width: 100%;
    background-image: url(../imgs/cont.png);
    height: 591px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-banner h3 {
    font-size: 56px;
    text-align: center;
    color: var(--lightest);
}

.contact-banner button {
    margin-top: 139px;
    width: 248px;
    height: 67px;
    font-size: 32px;
    border-radius: 50px;
    border: none;
    background-color: var(--btn-hover);
    transition: 0.5s ease;
    cursor: pointer;
}

.contact-banner button:hover {
    background-color: var(--btn-primary);
}

.contact-banner a {
    text-decoration: none;
    color: var(--lightest);
}

footer {
    height: 300px;
    background-color: var(--btn-hover);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-txt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 111px;
    margin-top: 5rem;
}

.faq,
.links,
.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    color: var(--lightest);
}

.faq a,
.links a,
.contact-info a {
    text-decoration: none;
    color: var(--lightest);
}

.faq ul,
.links ul,
.contact-info ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-txt li {
    list-style: none;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 106px;
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/* Mobile */

@media screen and (max-width: 767px) {
    .top-bar .contacts {
        display: flex;
        justify-content: start;
        gap: 20px;
        margin-left: 1rem;
        font-size: 50%;
        margin-right: 4rem;
    }

    .contacts span {
        display: flex;
    }

    .top-bar .social {
        gap: 10px;
    }

    .header {
        height: 10vh;
    }
    .header h1 {
        font-size: 25px;
    }

    .header img {
        height: 55px;
        width: 55px;
    }

    .nav-bar ul {
        flex-direction: row;
        gap: 10px;
        font-size: 10px;
    }

    .nav-bar li a {
        font-size: 150%;
    }

    .banner h2 {
        font-size: 40px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
        margin-left: 3rem;
    }

    .card {
        width: 140px;
        height: 140px;
    }

    .card p{
        font-size: 70%;
    }

    .card i {
        right: -3.5rem;
        font-size: 90%;
    }

    .card:nth-child(1):hover p,
    .card:nth-child(2):hover p {
        transform: translateY(40px);
        background-color: rgba(122, 144, 230, 0.698);
        padding: 10px;
        font-size: 70%;
    }

    .card:nth-child(1):hover i,
    .card:nth-child(2):hover i {
        transform: translateY(-50px);
    }

    .short-info{
        margin-top: -6rem;
    }

    .short-info h3 {
        font-size: 30px;
        width: 90%;
        padding: 10px;
    }

    .short-info img {
        width: 70%;
        height: 40%;
    }

    .short-info p{
        width: 70%;
        margin-bottom: 0;
    }

    .short-info-2{
        margin-top: 0;
        flex-direction: column-reverse;
    }

    .short-info-2 img{
        width: 100%;
        height: 50%;
        margin-top: 1rem;
        padding: 10px;
        border-radius: 20px;
    }

    .info2-text{
        height: 30rem;
    }

    .info2-text h3 {
        font-size: 30px;
    }

    .info2-text p {
        margin-left: 2rem;
        width: 80%;
    }

    .contact-banner h3 {
        font-size: 40px;
    }

    .contact-banner button {
        width: 200px;
        height: 50px;
        font-size: 24px;
    }

    footer {
        height: auto;
        padding: 20px;
    }



    .footer-txt {
        flex-direction: row;
        gap: 20px;
        font-size: .7rem;
    }

}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .top-bar .contacts {
        display: flex;
        justify-content: start;
        gap: 150px;
        margin-left: 1rem;
        font-size: 100%;
        margin-right: 4rem;
    }

    .contacts span {
        display: flex;
    }

    .top-bar .social {
        gap: 10px;
    }

    .header h1 {
        font-size: 50px;
    }
    .header{
        height: max-content;
    }

    .header img{
        height: 100%;
        width: 10rem;
    }

    .nav-bar ul {
        gap: 40px;
    }

    .banner h2 {
        font-size: 50px;
    }

    .cards {
        gap: 50px;
    }

    .short-info h3 {
        font-size: 50px;
        width: 100%;
    }

    .short-info img{
        width: 90%;
    }

    .short-info p{
        width: 70%;
    }

    .info2-text h3 {
        font-size: 40px;
    }

    .short-info-2{
        display: flex;
        flex-direction: row;
    }

    .info2-text p {
        margin-left: 2rem;
        width: 80%;
    }

    .short-info-2 img{
        width: 50%;
        margin-right: 4rem;
        height: 100%;
        margin-top: 1rem;
        padding: 10px;
        border-radius: 20px;
    }


    .contact-banner h3 {
        font-size: 50px;
    }

    .contact-banner button {
        width: 220px;
        height: 60px;
        font-size: 28px;
    }

    .footer-txt{
        padding-inline: 10px;
    }

}
