@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Inconsolata', monospace;
}
body {
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}

:root {
    --lightest: #f0f5fd;
    --lighter: #e3eefc;
    --muted: #ccddf9;
    --accent: #adc6f4;
    --primary: #8ca7ed;
    --secondary: #7a90e6;
    --btn-hover: #5464d7;
    --btn-primary: #4552bd;
    -txt-accent: #3a4599;
    --txt-muted: #364079;
    --txt-dark: #1f2347;
}
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--accent);
    width: 100%;
    height: 30px;
    font-size: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    font-size: 1.2rem;
}
.contacts {
    display: flex;
    margin-left: 78px;
    gap: 170px;
}
.social {
    display: flex;
    margin-right: 83px;
    gap: 63px;
}
.header {
    display: flex;
    background-color: var(--primary);
    width: 100%;
    height: 216.12px;
    align-items: center;
}

.header img {
    margin-right: 49px;
}

.header h1 {
    font-size: 90px;
    font-weight: normal;
    text-align: center;
}
.nav-bar {
    background-color: var(--muted);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-bar ul {
    display: flex;
    gap: 55px;
    justify-content: center;
}

.nav-bar li {
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    padding: 8px;
    transition: 0.3s ease;
}

.nav-bar a:hover {
    background-color: var(--lighter);
    border-radius: 8px;
}

.nav-bar a.active {
    background-color: var(--lightest);
    border-radius: 8px;
}

/* Banner */
.banner{
    background-image: url(../imgs/socios-banner.png);
    height: 574.28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2 {
    font-size: 128px;
    font-weight: normal;
    color: var(--lightest);
}

/* Socios */
.socios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socios p{
    font-size: 1.3rem;
    font-weight: bold;
    width: 60%;
    text-align: center;
    margin-top: 2rem;
}

.logos{
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25rem;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}

.logos h3{
    font-size: 3rem;
}

.icons{
    display: flex;
    gap: 4rem;
}

.icons img{
    height: 108px;
    width: 157px;
    margin-top: -4rem;
}

/* Beneficios */

.beneficios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.beneficios h3{
    font-size: 3rem;
}

.beneficios ul{
    background-color: var(--btn-primary);
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
}

.beneficios li{
    margin-left: 8rem;
    font-size: 1.5rem;
}


/* Contact */

.contact{
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2rem;
}

.contact button{
    height: 2rem;
    width: max-content;
    padding-inline: 5px;
    border-radius: 6px;
    border: none;
    font-size: 1rem;
    background-color: var(--btn-primary);
    transition: .2s ease-in-out;
}

.contact button:hover{
    background-color: var(--btn-hover);
}

.contact button a{
    text-decoration: none;
    color: var(--lightest);
}


/* Footer */

footer{
    height: 300px;
    background-color: var(--btn-hover);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-txt{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 111px;
    margin-top: 5rem;
}

.faq, .links, .contact-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    color: var(--lightest);
}

.faq a, .links a, .contact-info a{
    text-decoration: none;
    color: var(--lightest);
}

.faq ul, .links ul, .contact-info ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-txt li{
    list-style: none;
}


.redes{
    display: flex;
    justify-content: center;
    gap: 106px;
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}